body {
    background-color: #fffff;
    oveflow-x: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
    padding-bottom: 30px;
    margin: 0 auto;
}

.container {
    height: 80%;
    width: 60%;
    background-color: #2ecc71;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    box-shadow: 3px 3px 3px #27ae60;
    border-radius: 5px;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Chelsea Market', cursive;
    margin-top: 3%;
    padding-top: 20px;
    color: #1D806C;
    padding-left: 40px;
}

.hh1 {
    width: 70%;
    margin: 0 auto;
}

.box {
    height: 80%;
    width: 60%;
    background-color: #fff;
    margin: 0 auto;
    text-decoration: none;
    box-shadow: 2px 2px 2px #244C6F;
    margin-top: 2%;
    padding-bottom: 7%;
}

h2 {
    font-family: 'Chelsea Market', cursive;
    font-size: 25px;
    padding-top: 15px;
    text-align: center;
    color: #1D806C;
}

input {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.hh2 {
    width: 70%;
    margin: 0 auto;
}

h3 {
    font-family: 'Chelsea Market', cursive;
    font-size: 25px;
    padding-top: 13px;
    text-align: center;
    color: #1D806C;
    margin: 0 auto;
}

li {
    font-family: 'Chelsea Market', cursive;
    text-align: left;
    padding-top: 8px;
}

h4 {
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    font-size: 20px;
    color: #1D806C;
}

strong {
    color: #2C695C;
}

i {
    transition: .2s all ease-in-out;
    color: #2980b9;
}

i:hover {
    transition: .2s all ease-in-out;
    color: #1D806C;
}

.linki {
    float: right;
    margin-top: 25px;
    margin-right: 25px;
}

.link {
    color: #1D806C;
    text-decoration: none;
    transition: .2s all ease-in-out;
}

.link:hover {
    color: #2980b9;
    transition: .2s all ease-in-out;
}
